<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WHOIS Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
    <link rel="icon" href="https://static-a1.steveyi.net/static/img/apple-touch-icon-114x114.png">
    <script src='https://www.recaptcha.net/recaptcha/api.js' async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <style>
        pre {
            font-family: 'Share Tech Mono', monospace;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <div class="ts padded horizontally fitted fluid slate">
        <div class="ts very narrow container">
            <h1>WHOIS Search</h1>
            <p>Search Domain Name, Website, IP and ASN WHOIS data.</p>
        </div>
    </div>
    <br>
    <div class="ts very narrow container" id="app">
        <div class="ts clearing segment">
            <form class="ts form" @submit.prevent="search()">
                <div class="two fields">
                    <div class="field">
                        <label>Target</label>
                        <input placeholder="Search Something ...?" type="text" v-model="IP">
                    </div>
                </div>
                <br> Test query for <a @click="search('AS60614')">AS60614</a><span v-if="userIP"
                    style="margin: 0 .2em;">or</span>
                <a v-if="userIP" @click="search(userIP)">${userIP}</a>
                <button class="ts right floated button" :class="{loading}">Search!</button>
            </form>
        </div>
        <div class="ts clearing segment" v-if="result">
            <pre>${result}</pre>
        </div>
        Copyright © 2019 - ${year}
        <a href="https://network.steveyi.net/">SteveYi Network Service</a> All rights reserved.
        <br />
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.5/vue.global.prod.js"></script>
    <script>
        const App = { 
            delimiters: ['${', '}'],
            async created() {
                this.userIP = (await axios('https://api.steveyi.net/ip/')).data.IP_Address
            },
            data: () => ({
                userIP: null,
                year: new Date().getFullYear(),
                result: null,
                IP: '',
                loading: false
            }),
            methods: {
                async search(target) {
                    this.loading = true
                    this.result = (await axios(`/whois/${target || this.IP}`)).data
                    this.loading = false
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>